body {
    background-color: rgba(36, 29, 29, 0.183);
    background-image: url('img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#game-container {
    width: 1024px;
    height: 768px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

.source-code {
    position: fixed;
    top: 15%;
    left: 50%;
    z-index: 101;
    transform: translateX(-30%);   
    
}

.source-code .source-code-box {
    cursor: pointer;
    position: relative;
    width: 100%;
    transition: .2s;
  
}

.source-code .source-code-box a {
    width: 50%;
    line-height: 60px;
    text-align: center;
    font-size: 80px;
    z-index: 1;
    text-decoration: none;
    color: rgb(123, 29, 190);
    text-shadow: 0 0 10px rgb(123, 29, 190), 0 0 20px rgb(123, 29, 190), 0 0 30px rgb(123, 29, 190);
  }
  
.source-code .source-code-box a:hover {
    transform: scale(1.25);
}
  
  
.rules-container {
    position: absolute;
    width: 10%;
    margin: 0 auto;
    top: 50%; /* Moves the element 50% from the top */
    left: 20%;
    margin: auto; /* Centers the container horizontally */
}

.rules-container p {
    font-size: 24px;
    color: #00ff00;
    text-shadow: 
        0 0 5px #00ff00,
        0 0 10px #00ff00,
        0 0 15px #ff00ff,
        0 0 20px #ff00ff; 
}